<ng-template #content let-modal>
  <form [formGroup]="customerForm" (ngSubmit)="saveCustomer()">
    <div class="mb-3 modal-body">
      <table [cellPadding]="4" class="table2 modal-table">
        <tbody>
          <tr>
            <td>ชื่อ-สกุล</td>
            <td>
              <div class="input-group">
                <input
                  class="me-3 form-control"
                  id="firstName"
                  type="text"
                  formControlName="firstName"
                />
                <input
                  class="form-control"
                  id="lastName"
                  type="text"
                  formControlName="lastName"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>วันเกิด</td>
            <td>
              <div class="input-group mx-auto">
                <input
                  id="birthday"
                  class="form-control"
                  name="d"
                  ngbDatepicker
                  #d="ngbDatepicker"
                  formControlName="birthday"
                />
                <button
                  class="btn btn-outline-secondary bi bi-calendar"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </td>
          </tr>
          <tr>
            <td>อายุ</td>
            <td>
              <span>
                {{ age }}
                ปี</span
              >
            </td>
          </tr>
          <tr>
            <td>ที่อยู่</td>
            <td>
              <textarea
                id="address"
                class="form-control"
                cols="50"
                rows="4"
                formControlName="address"
              ></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button
        [disabled]="customerForm.invalid"
        type="submit"
        class="btn btn-primary"
      >
        บันทึก
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="modal.close('Save click')"
      >
        ปิด
      </button>
    </div>
  </form>
</ng-template>

<div class="list-container mx-auto">
  <div class="text-end mb-3">
    <button class="btn btn-primary" (click)="open(content)">ADD</button>
  </div>
  <table class="table table-list text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ชื่อ-สกุล</th>
        <th scope="col">ที่อยู่</th>
        <th scope="col">วันเกิด</th>
        <th scope="col">อายุ</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customerList">
        <td scope="row" class="text-end">{{ customer.Id }}</td>
        <td scope="row">{{ customer.firstName }} {{ customer.lastName }}</td>
        <td scope="row">{{ customer.address }}</td>
        <td scope="row">{{ getDateString(customer.birthday) }}</td>
        <td scope="row">{{ calString(customer.birthday) }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            (click)="functionEdit(customer.Id)"
          >
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
