<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group mx-auto my-4">
          <label class="pe-3">ชื่อ-สกุล</label>
          <input class="me-3" id="firstName" type="text" />
          <input id="lastName" type="text" />
        </div>

        <div class="input-group mx-auto">
          <label for="dateOfBirth" class="pe-3">วันเกิด</label>
          <input
            id="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary calendar"
            (click)="dp.toggle()"
            type="button"
          ></button>
        </div>
        <div class="input-group">
          <label for="age" class="pe-3">อายุ</label>
          <div class="">13 ปี</div>
        </div>
        <div class="input-group">
          <label for="address" class="pe-3">ที่อยู่</label>
          <textarea rows="4" cols="50"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(customer)">
  Launch demo modal
</button> -->
